
        body{
            margin: 0;
            background-image: url(img/whoami.jpg);
            background-size: cover;
            font-family: fantasy;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
        .box{
            background: rgba(0, 0, 0, 0.3);
            padding: 20px;
            width: auto;
            color: white;
            border-radius: 10px;
        }
        .box button{
        border: none;
        padding: 5px;
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: #fff;
       }
       .box input{
        width: 90%;
        margin: 8px 0;
        padding: 10px;
        border: none;
        border-radius: 4px;
       }
       .box2{
        position: fixed;
        top: 22px;
        right: 40px;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
       }
       .box2 a{
        color: #fff;
        text-decoration: wavy;
        font-weight: bold;
       }