body{
    background-image: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(./img/DWO/cdown.jpg);
    background-size: cover;
    font-family: monospace;
    color: rgba(255,255,255,0.7);
    font-style:oblique;
    display: flex;
    justify-content: center;
}
nav{
    position: fixed;
    right: 10px;
}
.formulario{
    padding: 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    justify-content: center;
}
textarea{
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: rgba(255,255,255,0.6);
}
input{
    width: 60%;
    margin: 8px 0;
    padding: 9px;
    border: none;
    border-radius: 4px;
    background: rgba(255,255,255,0.6);
}
button{
    margin: 5px 0;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    font-family: monospace;
}
.mini-avatar{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin-right: 10px;
    object-fit: cover;
}