body{
    background-color: rgb(10,10,10);
    font-family: monospace;
    color: rgba(255,255,255,0.7);
    font-style:oblique;
    display: flex;
    justify-content: center;
}
table{
    padding: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}
.back{
    position: fixed;
    left: 10px;
    top: 10px;
    height: auto;
    cursor: pointer;
    display: block;
    padding: 5px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}
.back:hover{
    transform: scale(1.1);
}
button{
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    text-decoration: none;
}